name: Test the Action

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Setup Node
        uses: actions/setup-node@v2.5.0
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Check format
        run: yarn format-check

      - name: Run tests
        run: yarn test

      - name: Report coverage
        run: yarn coverage
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  wiki:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.4.0

      - name: Test the action
        uses: ./
        with:
          confluence_url: https://github-action-artis3n.atlassian.net/wiki
          space_key: GAE  # Github Action Example
          username: ${{ secrets.CONFLUENCE_USER }}
          password: ${{ secrets.CONFLUENCE_APIKEY }}
